@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb-light: 0, 0, 0;
  --foreground-rgb-dark: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: var(--foreground-rgb-dark);
  }
}

body {
  color: rgb(var(--foreground-rgb-light));
}
